.pagination {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 0.5rem;
}
.page-item {
  margin: 0 5px;
}
.page-item.disabled .page-link {
  pointer-events: none;
  color: #6c757d;
}
.page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}
.page-link {
  cursor: pointer;
}

@media (max-width: 1280px) {
  
}

@media (max-width: 768px) {
  
}

@media (max-width: 375px) {
  
}
